@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000313}}
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  color: #555555;
  background-color: #bbbbbb;
  font-family: arial;
  font-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000325}}
.topbar-container {
  background-color: black;
  font-family: "Terminal Dosis", sans-serif;
  border-bottom: 1px solid #1e1e1e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000329}}
.topbar-container .topbar {
  height: 42px;
  line-height: 42px;
  width: 100%;
  margin: 0;
  padding: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000336}}
.topbar-container .topbar li {
  list-style: none;
  float: left;
  color: white;
  border-right: 1px solid #1e1e1e;
  font-size: 12px;
  font-weight: 700;
  background: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000344}}
.topbar-container .topbar li.no_border {
  border-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000347}}
.topbar-container .topbar li.right {
  float: right;
  border-left: 1px solid #1e1e1e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000351}}
.topbar-container .topbar li.logo a {
  padding-top: 5px;
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000354}}
.topbar-container .topbar li.logo a:hover {
  color: #4abeff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000357}}
.topbar-container a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000366}}
.topbar-container .animName {
  font-weight: bolder;
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000370}}
.topbar-container .nav-button {
  padding: 20px 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000374}}
#info .top {
  position: absolute;
  top: 42px;
  width: 100%;
  padding: 5px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000380}}
#info a {
  color: #6666ff;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000383}}
#info a:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000385}}
#info .bottom {
  position: absolute;
  bottom: 42px;
  right: 5px;
  padding: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000391}}
.sidebar {
  border-top: 1px solid #1e1e1e;
  border-right: 1px solid #1e1e1e;
  color: #eeeeee;
  position: absolute;
  right: 0px;
  width: 20%;
  max-width: 300px;
  min-width: 200px;
  min-height: 100%;
  z-index: 20000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003102}}
.sidebar .toggle {
  text-align: center;
  font-weight: bolder;
  padding: 3px;
  border-bottom: 1px solid #1e1e1e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003108}}
.sidebar .toggle a:visited {
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003111}}
.side-buttons-container {
  color: #eeeeee;
  font-family: "Terminal Dosis", sans-serif;
  text-shadow: 0 -1px 0 #111111;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003116}}
.side-buttons-container .button {
  border-left: 3px solid #2fa1d6;
  background-color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003120}}
.side-buttons-container .button ul {
  margin: 0px;
  padding-left: 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003124}}
.side-buttons-container .button li {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003127}}
.folder {
  border-bottom: 1px solid #1e1e1e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003129}}
.folder li.title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 12px;
  line-height: 27px;
  padding-left: 16px;
  margin-left: 4px;
  border-left: 4px solid rgba(0, 0, 0, 0);
  background: url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlGIWqMCbWAEAOw==) 6px 10px no-repeat;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003140}}
.folder .title.open {
  background: url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003142}}
.folder .content {
  margin-top: 1px;
  background-color: black;
  margin-left: -6px;
  padding-top: 3px;
  border-top: 1px solid #1e1e1e;
  font-size: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003149}}
.folder .content > * {
  padding-left: 6px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003153}}
#container, .container {
  position: absolute;
  min-height: 100%;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003158}}
spectrum {
  display: block;
  padding: 0px;
  margin: 0px;
  z-index: 5;
  height: 150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003165}}
spectrum canvas {
  width: 100%;
  background-color: #111111;
  height: 100%;
  margin: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003179}}
.playlist {
  padding: 5px 5px;
  padding-left: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003182}}
.playlist li {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003184}}
.playlist .active {
  text-shadow: 0 0 0;
  color: red;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003190}}
.links {
  margin: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003193}}
.links a {
  display: block;
  color: white;
  padding-bottom: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003197}}
.links a.active {
  color: red;
  text-decoration: underline;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003202}}
.sidebar.left-lower {
  left: 0px;
  bottom: 42px;
  min-height: 0%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003206}}
.sidebar.top {
  top: 42px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003209}}
.slider {
  margin: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003212}}
.slider .input input {
  width: 100%;
  margin: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003216}}
.box-show-setup {
  height: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003218}}
.box-show-setup.box-show-start {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003222}}
.box.ng-hide-add, .box.ng-hide-remove {
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  display: block !important;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003227}}
.box.ng-hide-add {
  max-height: 500px;
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003231}}
.box.ng-hide-add.ng-hide-add-active, .box.ng-hide-remove {
  max-height: 0px;
  opacity: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003235}}
.box.ng-hide-remove.ng-hide-remove-active {
  max-height: 500px;
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003241}}
.slide-left-animation.ng-enter, .slide-left-animation.ng-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  position: absolute;
  top: 43px;
  left: 0;
  right: 0;
  min-height: 1000px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003248}}
.slide-left-animation.ng-enter {
  left: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003250}}
.slide-left-animation.ng-enter.ng-enter-active {
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003252}}
.slide-left-animation.ng-leave {
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003254}}
.slide-left-animation.ng-leave.ng-leave-active {
  left: -100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003258}}
.slide-right-animation.ng-enter, .slide-right-animation.ng-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  position: absolute;
  top: 43px;
  left: 0;
  right: 0;
  min-height: 1000px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003265}}
.slide-right-animation.ng-enter {
  left: -100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003267}}
.slide-right-animation.ng-enter.ng-enter-active {
  left: 0%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003269}}
.slide-right-animation.ng-leave {
  left: 0%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003271}}
.slide-right-animation.ng-leave.ng-leave-active {
  left: 100%;
}
