@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\000031}}
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  color: #555555;
  background-color: #bbbbbb;
  font-family: arial;
  font-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000311}}
#info .top {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 5px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000317}}
#info a {
  color: #6666ff;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000320}}
#info a:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000322}}
#info .bottom {
  position: absolute;
  bottom: 0px;
  right: 5px;
  padding: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000328}}
.sidebar {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  color: #eeeeee;
  position: absolute;
  right: 0px;
  width: 20%;
  max-width: 300px;
  min-width: 200px;
  min-height: 100%;
  z-index: 5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000340}}
.side-buttons-container {
  color: #eeeeee;
  font: 13px "Lucida Grande", sans-serif;
  text-shadow: 0 -1px 0 #111111;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000344}}
.side-buttons-container .button {
  border-left: 3px solid #2fa1d6;
  background-color: #555555;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000347}}
.side-buttons-container .button ul {
  margin: 0px;
  padding-left: 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000351}}
.side-buttons-container .button li {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000354}}
.folder {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000356}}
.folder .title {
  line-height: 27px;
  padding-left: 16px;
  margin-left: 4px;
  border-left: 4px solid rgba(0, 0, 0, 0);
  background: url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlGIWqMCbWAEAOw==) 6px 10px no-repeat;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000363}}
.folder .title.open {
  background: url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000365}}
.folder .content {
  margin-top: 1px;
  background-color: #555555;
  margin-left: -6px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000371}}
#container, .container {
  position: absolute;
  min-height: 100%;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000376}}
spectrum {
  display: block;
  padding: 0px;
  margin: 0px;
  z-index: 5;
  height: 150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000383}}
spectrum canvas {
  width: 100%;
  background-color: #111111;
  height: 100%;
  margin: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000397}}
.playlist {
  padding: 5px 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000399}}
.playlist li {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003101}}
.playlist .active {
  text-shadow: 0 0 0;
  color: red;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003107}}
.links {
  margin: 5px;
  padding-left: 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003110}}
.links a {
  display: block;
  color: white;
  padding-bottom: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003114}}
.links a.active {
  color: red;
  text-decoration: underline;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003119}}
.sidebar.left-lower {
  left: 0px;
  bottom: 0px;
  min-height: 0%;
}
