@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000313}}
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  color: #555555;
  background-color: #bbbbbb;
  font-family: arial;
  font-size: 100%;
}

@font-face {
  font-family: "ituner";
  src: url("/css/fonts/ds-digii-webfont.eot"), url("/css/fonts/ds-digii-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/ds-digii-webfont.woff") format("woff"), url("/css/fonts/ds-digii-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000332}}
.topbar-container {
  background-color: black;
  font-family: "Terminal Dosis", sans-serif;
  border-bottom: 1px solid #1e1e1e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000336}}
.topbar-container ul.topbar {
  height: 42px;
  line-height: 42px;
  width: 100%;
  margin: 0;
  padding: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000343}}
.topbar-container ul.topbar > li {
  list-style: none;
  float: left;
  color: white;
  border-left: 1px solid #1e1e1e;
  font-size: 12px;
  font-weight: 700;
  background: black;
  margin-left: -1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000353}}
.topbar-container ul.topbar > li.no_border {
  border-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000356}}
.topbar-container ul.topbar > li.right {
  float: right;
  border-left: 1px solid #1e1e1e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000360}}
.topbar-container ul.topbar > li.logo a {
  padding-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000363}}
.topbar-container a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0 20px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000373}}
.topbar-container .animName {
  font-weight: bolder;
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000377}}
.topbar-container .dropdown {
  display: block;
  z-index: 1;
  position: absolute;
  list-style: none;
  margin: 0px 0 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000384}}
.topbar-container .dropdown li {
  border: 1px solid #1e1e1e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000387}}
.right-border {
  border-right: 1px solid #1e1e1e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000391}}
#info .top {
  position: absolute;
  top: 42px;
  width: 100%;
  padding: 5px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\0000397}}
#info a {
  color: #6666ff;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003100}}
#info a:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003102}}
#info .bottom {
  position: absolute;
  bottom: 0;
  right: 5px;
  padding: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003108}}
.blue-hover {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003110}}
.blue-hover:hover {
  color: #4abeff !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003112}}
.blue-hover a:hover {
  color: #4abeff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003116}}
.sidebar {
  border-top: 1px solid #1e1e1e;
  border-right: 1px solid #1e1e1e;
  color: #eeeeee;
  position: absolute;
  right: 0px;
  width: 20%;
  max-width: 300px;
  min-width: 200px;
  min-height: 100%;
  z-index: 20000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003127}}
.sidebar .toggle {
  text-align: center;
  font-weight: bolder;
  font-size: 12px;
  padding: 3px;
  border-bottom: 1px solid #1e1e1e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003134}}
.sidebar .toggle a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003138}}
.sidebar .toggle a:visited {
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003141}}
.side-buttons-container {
  color: #eeeeee;
  font-family: "Terminal Dosis", sans-serif;
  text-shadow: 0 -1px 0 #111111;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003146}}
.side-buttons-container .button {
  border-left: 3px solid #2fa1d6;
  background-color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003150}}
.side-buttons-container .button ul {
  margin: 0px;
  padding-left: 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003154}}
.side-buttons-container .button li {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003157}}
.folder {
  border-bottom: 1px solid #1e1e1e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003159}}
.folder li.title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 12px;
  line-height: 27px;
  padding-left: 16px;
  margin-left: 4px;
  border-left: 4px solid rgba(0, 0, 0, 0);
  background: url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlGIWqMCbWAEAOw==) 6px 10px no-repeat;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003170}}
.folder .title.open {
  background: url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003172}}
.folder .content {
  margin-top: 1px;
  background-color: black;
  margin-left: -6px;
  padding-top: 3px;
  border-top: 1px solid #1e1e1e;
  font-size: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003179}}
.folder .content > * {
  padding-left: 6px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003183}}
#container, .container {
  position: absolute;
  min-height: 100%;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003188}}
spectrum {
  display: block;
  padding: 0px;
  margin: 0px;
  z-index: 5;
  height: 150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003195}}
spectrum canvas {
  width: 100%;
  background-color: #111111;
  height: 100%;
  margin: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003201}}
#easter-egg {
  width: 400px;
  height: 100px;
  margin: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003214}}
.playlist {
  padding: 5px 5px;
  padding-left: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003217}}
.playlist li {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003219}}
.playlist .active {
  text-shadow: 0 0 0;
  color: red;
  font-weight: bold;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003226}}
.links {
  margin: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003229}}
.links a {
  display: block;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003233}}
.links a.active {
  color: red !important;
  font-weight: bolder;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003237}}
.sidebar.left-lower {
  left: 0px;
  bottom: 42px;
  min-height: 0%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003241}}
.sidebar.top {
  top: 42px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003244}}
.slider {
  margin: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003247}}
.slider .input input {
  width: 100%;
  margin: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003252}}
.controls canvas {
  background-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003254}}
.box-show-setup {
  height: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003256}}
.box-show-setup.box-show-start {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003260}}
.box.ng-hide-add, .box.ng-hide-remove {
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  display: block !important;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003265}}
.box.ng-hide-add {
  max-height: 500px;
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003269}}
.box.ng-hide-add.ng-hide-add-active, .box.ng-hide-remove {
  max-height: 0px;
  opacity: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003273}}
.box.ng-hide-remove.ng-hide-remove-active {
  max-height: 500px;
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003278}}
.width-box.ng-hide-add, .width-box.ng-hide-remove {
  -webkit-transition: all ease 0.1s;
  -moz-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  transition: all ease 0.1s;
  display: block !important;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003283}}
.width-box.ng-hide-add {
  max-width: 500px;
  max-height: 500px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003287}}
.width-box.ng-hide-add.ng-hide-add-active, .width-box.ng-hide-remove {
  max-width: 0px;
  max-height: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003291}}
.width-box.ng-hide-remove.ng-hide-remove-active {
  max-width: 500px;
  max-height: 500px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003297}}
.slide-left-animation.ng-enter, .slide-left-animation.ng-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  position: absolute;
  top: 43px;
  left: 0;
  right: 0;
  min-height: 1000px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003304}}
.slide-left-animation.ng-enter {
  left: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003306}}
.slide-left-animation.ng-enter.ng-enter-active {
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003308}}
.slide-left-animation.ng-leave {
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003310}}
.slide-left-animation.ng-leave.ng-leave-active {
  left: -100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003314}}
.slide-right-animation.ng-enter, .slide-right-animation.ng-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  position: absolute;
  top: 43px;
  left: 0;
  right: 0;
  min-height: 1000px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003321}}
.slide-right-animation.ng-enter {
  left: -100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003323}}
.slide-right-animation.ng-enter.ng-enter-active {
  left: 0%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003325}}
.slide-right-animation.ng-leave {
  left: 0%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/macobo\/projects\/WebGL-Audio-Visualization\/css\/main\.sass}line{font-family:\00003327}}
.slide-right-animation.ng-leave.ng-leave-active {
  left: 100%;
}
