<!doctype html>
<html ng-app="audioVizApp">
	<head>
		<title>AudioViz</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link href="css/main.css" rel="stylesheet"/>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Terminal+Dosis:300,500,700">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	</head>
<body ng-controller="MainController">
	<sidebar closable class="top">
	<!--
		<folder title="Links" open>
			<div class="links" ng-cloak>
				<a ng-repeat="link in links" ng-href="#{{link.href}}" 
					 ng-class="{active: isActive(link)}">
					{{ link.AnimName }}
				</a>
			</div>
		</folder>
	-->
		<folder title="Spectrum">
			<spectrum data="audio.spectrum()"></spectrum>
		</folder>
		<folder title="Playlist" open>
			<div ng-controller="PlaylistController" class="playlist">
				<ul>
					<li ng-repeat="track in tracks" 
							ng-click="setTrack($index)"
							ng-class="{active: track==current_track}" ng-cloak>
						<span class="song-title">{{ $index+1 }}. {{ track.title }}</span>
					</li>
				</ul>
			</div>
		</folder>

	</sidebar>
	
	<!-- three.js container -->
	<div class="topbar-container" ng-cloak>
		<ul class="topbar">
			<li>
				<a>Audio visualization</a>
			</li>
			<li>
				<a ng-href="#{{prev.href}}" ng-click="slideAnim = 'slide-right-animation'">←</a>
			</li>
			<li>
				<a>Current animation:
				<span class="animName">{{ current.AnimName }}</span>
				({{ current.index }} / {{ links.length }})</a>
			</li>
			<li>
				<a ng-href="#{{next.href}}" class="nav-button" ng-click="slideAnim = 'slide-left-animation'">→</a>
			</li>

			<li class="right logo">
				<a href="https://github.com/macobo/WebGL-Audio-Visualization"class="fa fa-github fa-3x"></a>
			</li>
		</ul>
	</div>
  <div id="container" ng-view ng-class="slideAnim"></div>
	<!-- info on screen display -->
	<div id="info">
		<div class="bottom" id="inlineDoc" >
			- <i>p</i> for screenshot
		</div> 
	</div>

	<script src="components/jquery/jquery.min.js"></script>
	<script src="components/underscore/underscore-min.js"></script>

	<script src="components/angular/angular.js"></script>
	<script src="components/angular-animate/angular-animate.min.js"></script>
	<script src="components/angular-route/angular-route.min.js"></script>
	<script src="components/dsp.js/dsp.js"></script>
	<script src="js/AudioStuff.js"></script>

	<script src="js/app.js"></script>
	<script src="js/services/AudioService.js"></script>
	<script src="js/services/FakeRandom.js"></script>
	<script src="js/services/PlaylistService.js"></script>
	<script src="js/services/IntervalService.js"></script>
	<script src="js/services/BeatDetector.js"></script>
	<script src="js/controllers/MainController.js"></script>
	<script src="js/controllers/PlaylistController.js"></script>
	<script src="js/controllers/FirstViz.js"></script>
	<script src="js/controllers/SphereSpectrumViz.js"></script>
	<script src="js/controllers/Terrain.js"></script>
	<script src="js/controllers/Particles.js"></script>
	<script src="js/directives/Spectrum.js"></script>
	<script src="js/directives/folder.js"></script>
	<script src="js/directives/audioViz.js"></script>
	<script src="js/directives/slider.js"></script>
	<script src="js/directives/sidebar.js"></script>
	<script src="vendor/terrainGenerator.js"></script>

	<script src="vendor/tween.min.js"></script>
	<script src="vendor/Sparks.js"></script>
	<script src="vendor/three.js/Detector.js"></script>
	<script src="components/threejs/build/three.min.js"></script>
	<!-- https://github.com/mrdoob/stats.js -->
	<script src="vendor/three.js/Stats.js"></script>

	<script src="vendor/threex/THREEx.screenshot.js"></script>
	<script src="vendor/threex/THREEx.FullScreen.js"></script>
	<script src="vendor/threex/THREEx.WindowResize.js"></script>
	<script src="vendor/threex.dragpancontrols.js"></script>

	<script src="components/threejs/examples/js/shaders/ConvolutionShader.js"></script>
	<script src="components/threejs/examples/js/shaders/CopyShader.js"></script>
	<script src="components/threejs/examples/js/shaders/FXAAShader.js"></script>
	<script src="components/threejs/examples/js/postprocessing/EffectComposer.js"></script>
	<script src="components/threejs/examples/js/postprocessing/RenderPass.js"></script>
	<script src="components/threejs/examples/js/postprocessing/BloomPass.js"></script>
	<script src="components/threejs/examples/js/postprocessing/ShaderPass.js"></script>
	<script src="components/threejs/examples/js/postprocessing/MaskPass.js"></script>
	<script src="components/threex/tmp/threex-v0/examples/threex.plugins/vendor/three.js/ShaderExtras.js"></script>

 <script src="//connect.soundcloud.com/sdk.js"></script> 
</body>
</html>
